.labelForm{
		display: inline-block;
		width: 140px;
		text-align: right;
		margin-right: 0.5em;
	}

.block{
		padding: 1%;
	}

.padd {

	padding: 2%;
	width: auto;
}

.border{
	width: 100%;
	border-collapse: collapse;
}

.border td{
	text-align: center;
}

.border tr:nth-child(even){background-color: #f2f2f2}

.border th {
    background-color: #2a2b30;
    color: white;
    text-align: center;
}

.totalTotal{
	border-top: solid 0.2px black;
}

.textTotal{
	text-align: right;
}

.righted{
	text-align: right !important;
}

.field{
	width: 100%;
	padding: 1%;
}
    
.btnin {
    background: #1c1d22;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 60px;
    width: 200px;
    line-height: 60px;
    margin: 25px 25px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}

.btnin:hover {
  background: #CF4647;
}

.abtnin{

    padding: 1px 6px;
    -webkit-user-select: none;
    white-space: pre;
    -webkit-writing-mode: horizontal-tb;
    box-sizing: border-box;
    align-items: flex-start;
    -webkit-rtl-ordering: logical;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    margin: 0em 0em 0em 0em;

}

.dialogContainer{

    text-align: left;
}